<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="QUFSR0YwWVNCVGIzVnlZMlU5VEVsWFJ5MVFRMXhUVVV3eU1EQTFPMGx1YVhScFlXd2dRMkYwWVd4dlp6MUJaWEp2YldGMFJFSTdVR1Z5YzJsemRDQlRaV04xY21sMGVTQkpibVp2UFZSeWRXVTdWWE5sY2lCSlJEMXpZVHR3WVhOemQyOXlaRDF6WVRFeU16RXlNdz09QkI=" providerName="System.Data.SqlClient" />-->
    <add name="ConnectionString" connectionString="QUFSR0YwWVNCVGIzVnlZMlU5VEVsWFJ5MVFRMXhUVVV3eU1EQTFPMGx1YVhScFlXd2dRMkYwWVd4dlp6MUJaWEp2YldGMFJFSTdVR1Z5YzJsemRDQlRaV04xY21sMGVTQkpibVp2UFZSeWRXVTdWWE5sY2lCSlJEMXpZVHR3WVhOemQyOXlaRDF6WVRFeU16RXlNdz09QkI=" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>